/* width */
.scrollableDiv::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.scrollableDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b9b9b9;
    border-radius: 10px;
}

/* Handle */
.scrollableDiv::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle on hover */
.scrollableDiv::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 136, 229);
}
