@media print {
    body * {
        visibility: hidden;
    }

    .react-d3-core__container_svg,
    .react-d3-core__container_svg * {
        visibility: visible;
    }

    .react-d3-core__container_svg {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.search-bar-wrapper {
    width: 80%;
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
    font-family: Barlow, sans-serif;
}

@media screen and (min-width: 640px) {
    .search-bar-wrapper {
        min-width: 480px;
        width: 80%;
        padding-top: 25px;
        margin: auto;
    }
}

.search-bar-field {
    position: relative;
}

.search-bar-input {
    -webkit-appearance: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 40px 10px 10px;
    width: 100%;
    font: 20px BlinkMacSystemFont;
}

.has-suggestions .search-bar-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 100%;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}

.search-results-container {
    margin: 10px auto;
    padding: 5px;
    height: 600px !important;
    text-align: center;
}

.search-results-container.has-results {
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

.activityIndicator {
    padding: 70px 0;
    text-align: center;
}

.show {
    display: inline-block !important;
}

.showBlock {
    display: block !important;
}

.hide {
    display: none !important;
}

.containerLTR {
    padding-top: 46px;
    margin: auto;
    /*margin-left: 255px;*/
    background: rgb(250, 250, 250)
}

.listMenu {
    z-index: 1;
    position: relative;
    left: -40px;
    margin-right: -45px;
    border-color: #424242;
    border-top: 3px solid;
    border-top-color: #424242;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.appBar {
    background-color: rgb(260, 260, 260) !important;
    z-index: 50 !important;
    position: fixed !important;
    height: 53px !important;
    padding-top: 13px;
}

.drawer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #18FFFF;
}

.drawer::-webkit-scrollbar {
    width: 6px;
    background-color: #18FFFF;
}

.drawer::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.logo {
    width: 170px !important;
    height: 54px !important;
    color: black !important;
    cursor: pointer;
}

.leaflet-container {
    height: 300px;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}

.hide {
    display: none
}

.breadcrumbHover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.breadcrumbHover:hover {
    background-color: rgb(48, 48, 48);
    color: white;
}
