.activeDropZone {
    border-color: #00FFFF;
}

.dropzoneTextStyle {
    text-align: center;
    top: 25%;
    position: relative;
}

.uploadIconSize {
    font-size: 51px !important;
    color: #909090 !important;
}

.dropzoneParagraph {
    font-size: 24px;
}

.dropZone {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #F0F0F0;
    border: dashed;
    border-color: #C8C8C8;
    cursor: pointer;
}

.dropZoneDark {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.12);
    border: dashed;
    border-color: #C8C8C8;
    cursor: pointer;
}

.stripes {
    width: 100%;
    height: 250px;
    cursor: pointer;
    border: solid;
    border-color: #C8C8C8;
    background-image: repeating-linear-gradient(-45deg, #F0F0F0, #F0F0F0 25px, #C8C8C8 25px, #C8C8C8 50px);
    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
    background-size: 150% 100%;
}

.rejectStripes {
    width: 100%;
    height: 250px;
    cursor: pointer;
    border: solid;
    border-color: #C8C8C8;
    background-image: repeating-linear-gradient(-45deg, #fc8785, #fc8785 25px, #f4231f 25px, #f4231f 50px);
    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
    background-size: 150% 100%;
}

.fileIconImg {
    color: #909090 !important;
}

.smallPreviewImg {
    height: 100px !important;
    width: initial !important;
    max-width: 100%;
    margin-top: 5px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
    border-radius: 2px;
    z-index: 5;
}

@-webkit-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0px;
    }
}

@-moz-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0px;
    }
}

@-ms-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0px;
    }
}

@keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -70px 0px;
    }
}

.middleLTR {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.middleRTL {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: -15px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.middleBigPicLTR {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 41px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.middleBigPicRTL {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: -41px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.imageContainer {
    position: relative;
    z-index: 10;
}

.imageContainer:hover .smallPreviewImg {
    opacity: 0.3;
}

.imageContainer:hover .middleLTR {
    opacity: 1;
}

.imageContainer:hover .middleRTL {
    opacity: 1;
}

.imageContainer:hover .middleBigPicLTR {
    opacity: 1;
}
.imageContainer:hover .middleBigPicRTL {
    opacity: 1;
}

.removeBtn {
    color: white;
    margin-left: 5px;
    z-index: 3;
}

.sendSurveyTextFieldLTR {
    margin-right: 20px;
}
.sendSurveyTextFieldRTL {
    margin-left: 20px;
}

.surveyNameTextField {
    margin-top: 23px;
}

.floatingDoneBtnLTR {
    position: sticky;
    z-index: 1;
    bottom: 15px;
    float: right;
}
.floatingDoneBtnRTL {
    position: sticky;
    z-index: 1;
    bottom: 15px;
    float: left;
}

.senderEmailTextFieldLTR{
    padding-top: 23px;
    margin-right : 20px;
}

.senderEmailTextFieldRTL{
    padding-top: 23px;
    margin-left : 20px;
}

.questDeleteLTR {
    display: inline-flex;
    margin-top: 15px;
    margin-left: 40px;
}
.questDeleteRTL {
    display: inline-flex;
    margin-top: 15px;
    margin-right: 40px;
}

.pageDeleteLTR {
    float: right;
}
.pageDeleteRTL {
    float: left;
}

.uploadDialogButtonsLTR {
    text-align: right !important;
}
.uploadDialogButtonsRTL {
    text-align: left !important;
}

.surveyContainerLTR {
    padding-top:64px;
    margin: auto;
    /*margin-left: 255px;*/
    padding-left: 16px;
    padding-right: 16px;
}

.surveyContinueContainerLTR {
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}


@-webkit-keyframes spinner {
    to {transform: rotate(360deg);}
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ff4081;
    border-top-color: #42a5f5; /* Grey - R119 G120 B123*/
    border-right-color: #0091ea;
    border-left-color: #ec407a;
    animation: spinner .6s linear infinite;
}

.spinnerPositionForSurveys:before {
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
}

.spinnerPositionForReports:before {
    display: block;
    margin: 0 auto;
}


.floatingLTR{
    float: left;
    margin: -20px 0 4px 14px;
    display: inline-flex;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}
.floatingRTL{
    float: right;
    margin: -20px 14px 4px 0;
    display: inline-flex;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}
